[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.14"
djangorestframework = "*"
django-environ = "*"
requests = "*"
django-cors-headers = "*"
langchain = "*"
google-generativeai = "*"
pillow = "*"
charset-normalizer = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.8"
